* {
      box-sizing: border-box;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
}
article {
    width: 200px; height: 200px;
    border: 1px solid blue;
}
article p{
    background-color: yellow;
}

#exo_2 {
    overflow: hidden;

}

#exo_4 { display: flex;
    align-items: flex-end;
}
#exo_5 ul {
list-style-type: none;
flex-direction: row;
display:flex;
align-items: center;
}
#exo_6 {
  background-image:url("./image/joliephoto.jpg");
  background-size:100% 100%;
}
#exo_7 {
    display: none;
}

#exo_8 {
    background-color: red;
    font-weight: bold;
    color :green;
    border: dashed;
    border-color: blue
}
#exo_8 p {
  background-color: red;
}
#exo_9:hover {
  cursor:grab;
  color:black;
}
#exo_9 {
  color: yellow
}
